body{
    max-width:100%;
}
:root{
      --nav-h: 68px;
      --maxw: 1200px;
    }
    *,*::before,*::after{ box-sizing: border-box; }
    body{ margin:0; font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif; color:#111; }
    .nav {
      position: fixed;           
      top: 0; left: 0; right: 0;
      height: var(--nav-h);
      display: flex;
      align-items: center;
      background: rgba(255,255,255,0.9);
      backdrop-filter: blur(6px);
      border-bottom: 1px solid #e8e8e8;
    }
    .nav__inner{
      width: min(100% - 32px, var(--maxw));
      margin-inline: auto;
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .logo{
      display:flex; 
      align-items:center; gap:10px; 
      text-decoration:none; 
      color:inherit;
    }
    .logo img{ height:200px; width:auto; display:block; margin-left: -70px;}
    .brand{ font-weight:700; letter-spacing:.5px; }

    .links{
      display:flex; gap:22px; margin-left: 24px;
    }
    .links a{
      text-decoration:none; color:#222; font-weight:500;
    }
    .links a:hover{ text-decoration: underline; }


    .spacer{ margin-left:auto; }

    .btn{
      padding: 10px 14px;
      border-radius: 10px;
      border: 1px solid #d0d0d0;
      background:#eef4ff;
      cursor:pointer;
      text-decoration:none;
      font-weight:600;
    }
.btn:hover{ filter: brightness(0.97); }
.footer{
    background:linear-gradient(rgba(221, 182, 56, 0.858),rgba(162, 139, 25, 0.386));
    padding: 60px 40px;
    text-align: center;
    margin-top: 40px;
}
.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 140px;    
}
.footer-logo img{
    width:120px;
}
h2{
    color: Brown;
    text-align: center;
    justify-content: center;
    font-size: 60px;
    
}
h3{
    color: #6d234b;
    margin: 5px 0;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer-links h4{
    color: #b24568;
    margin-bottom: 10px;
    font-size:22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.footer-links ul{
    list-style-type:none;
}
.footer-links ul li{
    margin: 2px 0;
}
.footer-links a{
    text-decoration:none;
    color: #6d234b;
    font-family:monospace;
}
.footer-links a:hover{
    font-size:large;
    font-weight: bold;
    
}
.footer-links{
    perspective: 1000px;
}
.footer-links img{
    width: 28px;
    margin: 0.7px;
    transition: 0.2s;
    cursor: pointer;
    
}
.footer-links img:hover{
    transform: scale(1.2);
    animation:flip 1s ease-in-out forwards;
    transform-style: preserve-3d;
}
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
#iiit {
    width: 450px;
    position: relative;
    padding: 8px 12px;
    margin-top: 90px;
    display: flex;
    justify-self: center;
}

main{
  margin-top: 100px;
}

